body{
    background-image: url(./Imagens/background-wth-opacity.jpg);
    background-size: cover;
}

.container{
    background-color: #faf5ec ;
    max-width: 300px;
    margin: auto;
    height: auto;
    padding: 50px;
    border-radius: 20px;
    margin-top: 200px;
    box-shadow: 2px 2px gray;
}

h1{
    margin-top: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #084d6e;
    margin-bottom: 40px;
    text-align: left;
    text-shadow: 1px 1px 1px gray;
}

input{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}

button{
    margin-top: 20px;
    padding: 10px;
    background-color: #084d6e;
    color: #faf5ec;
}